.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 30px;
}

.search input[type=search]{
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}